<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/main.css">
        <script type="text/javascript" src="../static/script.js"></script>
        
        <title>meMorandi</title>
    </head>
    <body>
        <header>
            <img class="icon" src="{{ url_for('static', filename='logo.png') }}" alt="Logo" title="Piattaforma"/>
            
            <div>
                <h2><a href="../">meMorandi</a></h2>
                <div>
                    <img src="{{ url_for('static', filename='question-point.png') }}" onclick="credits()" class="icon"/>
                    <a href="./login"><img src="{{ url_for('static', filename='user.png') }}" class="icon"/></a>
                </div>
            </div>
        </header>

        <section>
            <p>Sembra proprio che tutto sia andato per il verso giusto!!</p>
            <a href="../"><p>Torna alla home page</p></a>
        </section>
    </body>
</html>
